<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer template</title>
</head>
<body>
  <!--
    이전에는 fragment 이름을 지정해야한 replace로 값을 찾아 올 수 있었지만
    해당 부분이 생략 가능하며 직접 요소를 탐색 할 수 있다.능
    <header th:fragment="header1">
    -->
  <footer class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">&copy; 2023 Company, Inc</p>

      <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
      </ul>
  </footer>
</body>
</html>